* {
  margin: 0;
  transition: all 0.5s ease-in-out;
}
.mainImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  scale: 1;
}

.navBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  justify-content: space-between;
}
.navRouting {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
.routingItem {
  font-family: "Candara", serif;
  font-size: 3.5vmin;
  align-content: center;
  text-decoration: none;
  color: white;
  padding: 2vmin;
}
.routingItem:hover {
  background: rgba(139, 173, 8, 0.5);
  color: white;
}
.authList {
  font-size: 3.5vmin;
  width: 10%;
  display: none;
  justify-content: flex-end;
  scale: 0;
}
.authList.authActive {
  display: flex;
  scale: 1;
}
.authUser {
  font-family: "Candara", serif;
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 3.5vmin;
  align-content: center;
  color: white;
  padding: 2vmin;
  display: none;
  scale: 0;
}
.authUser.authUserActive {
  display: block;
  scale: 1;
}
.authItem {
  font-family: "Candara", serif;
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 3.5vmin;
  align-content: center;
  color: white;
  padding: 2vmin;
}
.authItem:hover {
  cursor: pointer;
  background: rgba(139, 173, 8, 0.5);
  color: white;
}
.unAuthUserBtn {
  cursor: pointer;
  color: white;
  font-family: "Candara", serif;
  font-size: 4vmin;
  border: none;
  background: rgba(0, 0, 0, 0);
}
.unAuthUserBtn:hover {
  color: red;
}

.title {
  width: 100%;
  font-family: "Candara", serif;
  font-weight: bold;
  margin-top: 25vh;
  font-size: 18vmin;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
}
.title:last-child {
  margin-top: -5vmin;
}
.scrollBtnsList {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  right: 30px;
}
.scrollBtn {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(500%) blur(10px);
}
